@import url("/global-styles.css");
/* EXERCISE #5 */
.php-excercise-5{
    max-width: 100% !important;
    max-height: 100% !important;
    color: var(--lm-font-w-color);
}
.php-excercise-5 .ex5-body{
    margin: auto;
    align-self: center;
    align-items: center;
    max-width: 95%;
    background-color: var(--lm-ex4-bg-color);
    border: var(--lm-dpdn-hover-bg-color) solid;
    border-radius: 2rem;
    padding: 2rem;
}
.bg-ex5{
    overflow: hidden;
    margin: auto;
    margin-left: 1rem;
    align-self: center;
    align-items: center;
    display: inline-block;
    max-height: 100%;
    max-width: 78%;
    height: 3rem;
    width: 31.5rem;
    background-color: var(--lm-ex4-bg-color);
    border: var(--lm-dpdn-hover-bg-color) solid;
    border-radius: 2rem;
    padding: 2rem;
}
.content-1 form{
    margin-top: 1rem;
}
/* END OF EXERCISE #5 */