/* GLOBAL */
:root{
    --lm-bg-color: #003595;
    --lm-btn-bg-color: #FFC70A;
    --lm-font-b-color: #000;
    --lm-font-w-color: #fff;
    --lm-dpdn-bg-color: #F0F8FF;
    --lm-dpdn-hover-bg-color: #007C00;
    --lm-ex4-bg-color: #20251F;
}
body{
    text-align: justify;
    align-items: center;
    background-color: var(--lm-bg-color);
    color: var(--lm-font-b-color);
    font-family: 'Poppins', sans-serif;
    font-size: .8vw;
}
#title-header{
    text-align: center;
    color: var(--lm-font-w-color);
}
.btn-styles{
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1.5rem;
    text-align: justify;
    background: var(--lm-btn-bg-color);
    border: none;
    color: var(--lm-bg-color);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 1rem rgba(134, 133, 133, 0.5);
}
.btn-styles:hover{
    background-color: var(--lm-dpdn-hover-bg-color);
    color: var(--lm-font-w-color);
    cursor: pointer;
}
/* END OF GLOBAL */